.section{
  min-height: 100vh;
  padding: 0 50px 50px 50px;
  text-align: justify;
  position: relative;
  overflow: hidden;
}
.aboutme{
  text-align: center;
  padding: 20px;
  font-size: 50px;
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #35E6BA;
}
.about-p{
  width: 100%;
}
.about-p h3{
  font-size: 25px;
  color: #35E6BA;
  padding: 10px 0;
}
.about-p p{
  color: white;
  font-size: 20px;
  line-height: 1.7;
  font-weight: bold;
}
.about-p p a{
  text-decoration: none;
}
.about-p p a, .about-p p span{
  color: red;
}
.about-p p a:hover{
  text-decoration: underline;
  text-decoration-color: red;
}
@media only screen and (max-width: 400px){
  .section{
    padding: 0 10px 10px 10px;
  }
  .aboutme{
    font-size: 35px;
  }
}
